pykalman==0.9.5
pyentrp==0.3.1
statsmodels==0.8.0
skfeature_chappers==1.0.1
pandas==0.19.2
matplotlib==2.0.0
numpy==1.12.0
scipy==0.18.1
seaborn==0.7.1
PyMySQL==0.7.9
imbalanced_learn==0.2.1
imblearn==0.0
scikit_learn==0.19b2
