skfeature_chappers==1.0.1
seaborn==0.7.1
imbalanced_learn==0.2.1
numpy==1.13.1
scipy==0.18.1
matplotlib==2.0.0
statsmodels==0.8.0
pyentrp==0.3.1
pykalman==0.9.5
PyMySQL==0.7.9
pandas==0.19.2
imblearn==0.0
scikit_learn==0.19b2
